@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Brand Colors */
  --primary-green: #195A00;
  --primary-yellow: #FF9F0D;
  --background: #0a0a0a;
  --foreground: #ededed;
  
}

@font-face {
  font-family: 'GreatVibes';
  src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Helvetica, sans-serif;
  /* background: #0d0d0d; */
  background: #0d0d0d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
